.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.public-area {
	padding-top:20px;
	text-align:center;
	background-color: transparent;
}
.os {
	margin-right: -250px;
}
h1 {
  overflow: hidden;
  text-align: center;
	font-size: 15px;
}
h1:before,
h1:after {
    background-color: #a6a6a6;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h1:before {
    right: 0.5em;
    margin-left: -50%;
}
h1:after {
    left: 0.5em;
    margin-right: -50%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.no-right-padding {
   padding-right: 0 !important;
   margin-right: 0 !important;
}
.member-avatar {
  white: 30px;
  height: 30px;
  border-radius: 50%;
	padding: 5px;
}
.mention_name{
	font-size:12px;
}
.mention_username{
	font-size:12px;
	color:#999;
}
.mention_image{
	float: left;
	margin-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 20px;
	height: 20px;
}
.active .mention_username{
	color:#fff;
}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.fa-rotate-225 {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}
