
* {
	/* to ignore user agent stylesheet */
	margin: 0;
}
.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.public-area {
	padding-top:10px;
	text-align:center;
	background-color: transparent;
}
.os {
	margin-right: -250px;
}
h1 {
  overflow: hidden;
  text-align: center;
	font-size: 15px;
}
h1:before,
h1:after {
    background-color: #a6a6a6;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h1:before {
    right: 0.5em;
    margin-left: -50%;
}
h1:after {
    left: 0.5em;
    margin-right: -50%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.no-right-padding {
   padding-right: 0 !important;
   margin-right: 0 !important;
}
.member-avatar {
  white: 30px;
  height: 30px;
  border-radius: 50%;
	padding: 5px;
}
.mention_name{
	font-size:12px;
}
.mention_username{
	font-size:12px;
	color:#999;
}
.mention_image{
	float: left;
	margin-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 20px;
	height: 20px;
}
.active .mention_username{
	color:#fff;
}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.fa-rotate-225 {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

/* call_section */
#videos .rounded {
	border-radius: 5px;
}

#videos .centered {
	display: block;
	margin: auto;
}

#videos .btn_hangup {
	float: right;
	margin-top: -6px;
}

#videos .no-video-text {
	text-align: center;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	font-size: 24px;
}

/*
.video-panel-local-body {
	height: 150px;
  padding: 5px;
}
.video-panel-remote-body {
	height: 200px;
  padding: 5px;
}
*/

#player{
	margin: 0 auto;
	width: 900px;
	height: 470px;
	background-color: #F0F0F0;
}
#videoBoxWrapper{
	position: relative;
	margin: 0 auto;
	width: 842px;
	height: 380px;
}
#videoBox{
	position: absolute;
	width: 100%;
	height: 100%;
}
#callerVideoWrapper{
	height: 100%;
	float: left;
	margin-right: 2px;
}
#callerVideo{
	background-color: black;

}
#calleeVideoWrapper{
	height: 100%;
	float: left;
}
#calleeVideo{
	background-color: black;

}
#ctrlBox{
	margin: 0 auto;
	height: 90px;
 	background-color: #B2B2B2;
}
#timelineBoxWrapper{
	width: 100%;
	height: 30px;
	padding-top: 8px;
}
#timelineBox{
	margin: 0 auto;
	width: 100%;
	height: 20px;
}
#curTime{
	font-family: Dotum, Helvetica, sans-serif;
	font-size: 14px;
	overflow: hidden;
	height: 100%;
	font-weight: 900;
	margin-right: 20px;
}
#duration{
	font-family: Dotum, Helvetica, sans-serif;
	font-size: 14px;
	overflow: hidden;
	height: 100%;
	font-weight: 900;
	margin-left: 20px;
}
#timelineWrapper{
	position: relative;
 	margin: 3px 0;
	height: 14px;
	z-index: 1;
}
#timelineWrapper:HOVER{
	cursor: pointer;
}
#timeline{
	position: absolute;
	margin-top: 5px;
	width: 100%;
	height: 3px;
	background: #000000;
	display: inline;
	border-radius: 15px;
	z-index: -1;
}
#playhead{
	position: absolute;
	width: 10px;
	height: 10px;
 	border-radius: 50%;
 	background: #FFFFFF;
 	cursor: pointer;
 	z-index: 2;
 	bottom: -4px;
}
#playhead:HOVER{
	cursor: pointer;
}
#playhead_tail{
	position: absolute;
	background: #90AA01;
	border-radius: 15px;
	height: 3px;
	z-index: 0;
}
#timeAlert{
	position: fixed;
	display: none;
	font-size: 10px;
	font-weight: 700;
	border: 1px solid white;
	z-index: 10;
	background-color: yellow;
}
#btnBoxWrapper{
	width: 100%;
	height: 40px;
}
#btnBox{
	margin: 0 auto;
	width: 100%;
	height: 40px;
}
#playBtn{
	width: 40px;
	height: 40px;
	display: inline;
	float: left;
	border: none;
	background-size: 70% 70%;
	background-position: center;
}
.playBtn{
	background: url('../img/play48.png') no-repeat;
}
.playBtn:HOVER{
	background: url('../img/play48.png') no-repeat;
	cursor: pointer;
}
.pauseBtn{
	background: url('../img/pause41.png') no-repeat;
}
.pauseBtn:HOVER{
	background: url('../img/pause41.png') no-repeat;
	cursor: pointer;
}
#loadBtn{
	width: 40px;
	height: 40px;
	display: inline;
	float: left;
	border: none;
	background-size: 50% 50%;
	background-position: center;
}
.loadBtn{
	background: url('..//img/media26.png') no-repeat;
}
.loadBtn:HOVER{
	cursor: pointer;
}
#volumeBtn{
	width: 40px;
	height: 40px;
	display: inline;
	float: left;
	border: none;
	background-size: 50% 50%;
	background-position: center;
}
.volumeBtn{
	background: url('..//img/sound35.png') no-repeat;
}
.volumeBtn:HOVER{
	background: url('..//img/sound35.png') no-repeat;
	cursor: pointer;
}
.muteBtn{
	background: url('..//img/speaker113.png') no-repeat;
}
.muteBtn:HOVER{
	background: url('..//img/speaker113.png') no-repeat;
	cursor: pointer;
}
#volumelineWrapper{
	position: relative;
 	margin: 3px 0;
	width: 100px;
	height: 14px;
	float: left;
	z-index: 1;
	margin-top: 12px;
}
#volumelineWrapper:HOVER{
	cursor: pointer;
}
#volumeline{
	position: absolute;
	margin-top: 5px;
	width: 100%;
	height: 4px;
	background: #000000;
	display: inline;
	border-radius: 15px;
	z-index: -1;
}
#volumehead{
	position: absolute;
	width: 13px;
	height: 13px;
 	border-radius: 50%;
 	background: #FFFFFF;
 	cursor: pointer;
 	z-index: 2;
 	bottom: -5px;
}
#volumehead:HOVER{
	cursor: pointer;
}
#volumehead_tail{
	position: absolute;
	background: #90AA01;
	border-radius: 15px;
	height: 4px;
	z-index: 0;
}
img.in-message {
	max-width: 300px;
	max-height: 200px;
}
.hr-line-dashed {
	margin: 10px 0;
}
.alert {
	margin: 0 !important;
}

/*
 * customzing style.css
*/
.chat-avatar,
.message-avatar {
	width: 34px;
	height: 34px;
	background-color: #D5D7E4;
	border: 3px #D5D7E4 solid;
	border-radius: 50%;
	margin: 0;
}
.chat-avatar.online {
	background-color: #428bca;
	border: 3px #428bca solid;
}
.chat-user-name {
	padding: 8px;
}
.chat-discussion {
	height: inherit;
	padding: 5px;
	padding-right: 0;
}
.nav-header {
	background: none;
	position: absolute;
	top: 0;
	width: 100%;
}
@media (min-width: 768px) {
	#page-wrapper {
		margin: 0 0 0 240px;
	}
	.no-menu #page-wrapper {
		margin: 0 0 0 0;
	}
	.navbar-static-side {
		width: 240px;
	}
}

@media (max-width: 768px) {
	.body-small.small-navbar .navbar-static-side {
		display: block;
		width: 200px;
	}

	body.body-small.small-navbar #page-wrapper {
		margin: 0 0 0 200px;
	}

	body.small-navbar .navbar-top-links > li {
		display: none;
	}

	#information-section {
		display: none;
	}

	#chat-section {
		width: 100%;
	}

}

body {
	height: 100%;
	overflow-y: hidden;
}

#page-wrapper {
	height: 100%;
	overflow: hidden;
	min-height: initial;
}

#teamon-header {
	position: absolute;
	height: 61px;
	top: 0;
	left: 0;
	width: 100%;
}

#teamon-content {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 61px;
}

body.no-menu #catalog-section {
	display: none;
}

#chat-section {
	height: 100%;
	padding: 0;
}

.chat-view {
	height: 100%;
}

.chat-view > .chat-messages {
	padding-bottom: 60px;
	height: 100%;
	word-wrap: break-word;
}

.chat-view > .chat-input {
	position: absolute;
	bottom: 0;
}

.profile-element {
	text-align: center;
}

body.small-navbar .logo-element {
	display: block;
}

.logo-element .public-area {
	padding-top: 10px;
}

.logo-element .public-area a {
	padding: 0 20px;
}

body.small-navbar .profile-element {
  display: none;
}
.minimalize-styl-2 > i {
	/* for looking same with app and web */
	padding: 3px 0;
}
.chat-user {
	padding: 0;
	padding-left: 10px;
}

#catalog-section {
	height: 100%;
}

#side-menu {
	height: 100%;
}

/* category_section */
.profile-area {
	padding-left: 10px;
	padding-top: 10px;
	color: #a7b1c2;
	font-weight: 600;
	text-align: left;
}

#topic-list {
	position: relative;
	height: 100%;
	width: 100%;
	padding-top: 154px;
}

.chat-users {
	margin-left: 0;
	height: auto;
}

.nav-second-level li a {
	padding-left: 22px;
}

.users-area {
	margin-top: 16px;
}

#channels-list.nav-second-level li a {
	padding-left: 22px;
}

body.small-navbar .nav-header {
	padding: 0;
	background-color: #1ab394;
}

body.small-navbar #topic-list {
	padding-top: 96px;
}

body.small-navbar .navbar-static-side .chat-avatar {
	width: 18px;
	height: 18px;
	margin-right: 5px;
}

body.small-navbar .navbar-static-side .chat-users {
	margin-left: -10px;
}

body.small-navbar .navbar-static-side .chat-user {
	padding: 3px 5px;
}

body.small-navbar .navbar-static-side .chat-user-name {
	padding: 2px;
}
body.small-navbar .navbar-static-side .nav > li > a {
	padding: 7px 10px;
	font-weight: 400;
}
body.small-navbar .navbar-static-side .nav-second-level > li > a {
	padding: 2px 3px;
	padding-left: 20px;
}

.nav.metismenu li a {
	padding: 5px 10px 5px 14px;
}

.navbar-static-side,
.nav-header,
li.active,
#page-wrapper,
#information-section,
#chat-section,
.footer {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.file-list {
	top:50px;
	left:0;
	position: absolute;
	width: 100%;
	height: 100%;
}
.file-list ul {
 	padding: 5px 0;
 	height: 100%;
 	width: 100%;
 	overflow-y: auto;
 	overflow-x: hidden;
 	background-color: #fff;
 	position: relative;
}
.file-list li {
 	padding: 10px;
 	padding-top: 5px;
 	border: none;
 	border-radius: 0;
 	border-bottom: 1px solid #e7eaec;
}
.file-list li a:hover {
 	color: inherit;
	padding-left: 0;
	padding-right: 0;
}
.file-item {
	width: 100%;
	margin: 0 0.5em;
	padding: 5px 1.0em 8px 1.0em;
	border-bottom: 1px #ccc solid;
}
.file-icon {
	position: absolute;
	padding-top: 5px;
}
.file-description {
	padding-left: 3.5em;
	width: 100%;
}
.file-description .file-name {
	font-size: 14px;
	font-weight: 600;
	width: 100%;
}
.file-description .file-creator {
	font-size: 12px;
}
.file-description .file-created {
	font-size: 10px;
}
.file-description .file-download {
	position: absolute;
	right: 10px;
}

.mention-list {
	top:50px;
	left:0;
	position: absolute;
	width: 100%;
	height: 100%;
}
.mention-list ul {
	padding: 5px 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	position: relative;
}
.mention-list li {
	padding: 10px;
	padding-top: 5px;
	border: none;
	border-radius: 0;
}
.mention-list li a:hover {
	color: inherit;
}

.mention-list .img-icon {
	position: absolute;
	padding-top: 15px;
	padding-left: 10px;
}

.mention-list .img-icon .img-circle{
	width: 30px;
}

.mention-list .mention-message{
	width: 100%;
	border: 1px solid #e7eaec;
	text-align: left;
	display: block;
	padding: 10px 10px 10px 50px;
	position: relative;
	border-radius: 4px;
}

.mCSB_inside > .mCSB_container {
	margin-right: 20px;
}

#chat-section.with-info {
	padding-right: 350px;
}

#chat-section.with-info .chat-input {
	right: 350px;
}

#information-section {
	width: 350px;
	position: absolute;
	right: 0;
	margin: 0 !important;
	padding: 0 !important;
}

.dropdown-side {
	margin-left: 20px;
	margin-top: -15px;
}

#search-list {
	height: 90%;
}

#search-list .ibox-content {
	height: 90%;
}

.myshake {
    -webkit-animation-name: myshake;
    animation-name: myshake;
    animation-duration: 2s;
}

@-webkit-keyframes myshake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    from {background: #1AB394}
    to {background: #EEEEEE}
}

@keyframes myshake {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    from {background: #1AB394}
    to {background: #EEEEEE}
}
